<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


    <script type="module" src="../../../../ptcs-style-unit/ptcs-style-unit.js"></script>
    <script type="module" src="../../../../ptcs-base-theme/ptcs-base-theme.js"></script>

    <script type="module" src="../ptcs-pagination-input-number.js"></script>
    <style>
      :root {
          font-family: 'Open Sans', sans-serif;
      }
    </style>
  </head>
  <body>
    <ptcs-pagination-input-number total-number-of-pages="100"></ptcs-pagination-input-number>
  </body>
</html>
